.sign-in{
   width : 30vw;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    

    .title{
        margin: 10px 0;

    }
}

*{
    box-sizing: boder-box;
}


.sign-up{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    

    .title{
        margin: 10px 0;
    }

}

.login{
    display: flex;
}